import /init.recovery.qcom_decrypt.rc

on init
    exec u:r:recovery:s0 -- /system/bin/resetprop ro.boot.verifiedbootstate orange

on boot
    chmod 0755 /system/bin/remove-bootctrl-vintf.sh
    start remove-bootctrl-vintf

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro

on property:twrp.modules.loaded=true
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start health-hal-2-1

service remove-bootctrl-vintf /system/bin/remove-bootctrl-vintf.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
